<%= form_with(model: download, local: true) do |form| %>
  <% if download.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(download.errors.count, "error") %> prohibited this download from being saved:</h2>

      <ul>
        <% download.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title,class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :accesslevel %>
    <%= form.select :accesslevel, ['User','Public'],{:include_blank => 'Select'},class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :attach_file %>
    <%= form.file_field :attachfile,class: 'form-file-control' %>
  </div>

  <div class="actions">
  <%= form.submit 'Upload', class: "btn btn-primary form-control" %>
  </div>
<% end %>
