<%= form_with(model: team, url: dynamic_url, local: true) do |form| %>
    <% if team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
  
        <ul>
          <% team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :team_name %>
      <br>
      <%= form.text_field :name , class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :achievements %>
      <br>
      <%= form.text_area :achievements , class: 'form-control'%>
    </div>
  
    <br>
    <h4>Point of contact</h4>
    <div class="field">
      <%= form.label :name %>
      <br>
      <%= form.text_field :poc, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.label :mobile %>
      <br>
      <%= form.number_field :pocmobile, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <br>
      <%= form.text_field :pocemail, class: 'form-control' %>
    </div>
  
    <div class="hidden-field">
      <%= form.hidden_field :id%>
    </div>

    <div class="hidden-field">
      <%= form.hidden_field :event_id%>
    </div>
    
    <div class="actions">
      <%= form.submit 'Save and continue', class: "btn btn-primary form-control"%>
    </div>
  <% end %>
  