<%= form_with(model: team, url: dynamic_url, local: true) do |form| %>
    <% if team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
  
        <ul>
          <% team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <br>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :achievements %>
      <br>
      <%= form.text_area :achievements %>
    </div>
  
    <div class="field">
      <%= form.label :poc %>
      <br>
      <%= form.text_field :poc %>
    </div>
  
    <div class="field">
      <%= form.label :pocmobile %>
      <br>
      <%= form.number_field :pocmobile %>
    </div>
  
    <div class="field">
      <%= form.label :pocemail %>
      <br>
      <%= form.text_field :pocemail %>
    </div>
  
    <div class="hidden-field">
      <%= form.hidden_field :id%>
    </div>

    <div class="hidden-field">
      <%= form.hidden_field :event_id%>
    </div>
    
    <div class="actions">
      <%= form.submit 'Save and continue'%>
    </div>
  <% end %>
  