
<div class="text-center">
<h1>Travel Plan</h1>
</div>
<div class="row text-center">
<div class="col-md-offset-2 col-md-8 text-left">


<%= form_with(model: @team, url: 'updatetravelplan', local: true) do |form| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
  
        <ul>
          <% @team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
   
 
  
    <div class="field">
      <%= form.label :mode_of_arrival %>
      <br>
      <%= form.select :modeofarrival, ['Bus', 'Train', 'Flight'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :arrival_details %>
      <br>
      <%= form.text_field :arrivaldetails, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :arrival_location %>
      <br>
      <%= form.text_field :arrivalloc, class: 'form-control' %>
    </div>

    <div class="field">
        <%= form.label :arrival_date %>
        <br>
        <%= form.datetime_select :arrivaldate, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.label :mode_of_departure %>
      <br>
      <%= form.select :modeofdeparture, ['Bus', 'Train', 'Flight'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>

    <div class="field">
        <%= form.label :departure_details %>
        <br>
        <%= form.text_field :departuredetails, class: 'form-control' %>
    </div>
  
    <div class="field">
        <%= form.label :departure_location %>
        <br>
        <%= form.text_field :departureloc, class: 'form-control' %>
    </div>

    <div class="field">
        <%= form.label :departure_date %>
        <br>
        <%= form.datetime_select :departuredate, class: 'form-control' %>
    </div>

    <div class="hidden-field">
      <%= form.hidden_field :id%>
    </div>

    
    <div class="actions">
      <%= form.submit 'Save and continue', class: 'btn btn-primary form-control'%>
    </div>
  <% end %>
  </div>
  </div>