<p id="notice"><%= notice %></p>
<head>
 
    <script type="text/javascript">
      $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                
                {
                  extend: 'csvHtml5',
                  text: 'CSV',
                  className: 'btn btn-default',
                  exportOptions: {
                      columns: ':not(.notexport)'
                  }
              },
                {
                  extend: 'pdfHtml5',
                  text: 'PDF',
                  className: 'btn btn-default',
                  exportOptions: {
                      columns: ':not(.notexport)'
                  }
              }
            ]
        } );
    } );
    </script>
  
    
  </head>

<h1>Teams</h1>

<div class="table-responsive">  
    <table id="example" class="new_table table">
      <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Poc</th>
      <th>Pocmobile</th>
      <th>Pocemail</th>
      <th>Status</th>
      <th>Arrivaldate</th>
      <th>Arrivalloc</th>
      <th>Modeofarrival</th>
      <th>Arrivaldetails</th>
      <th>Departuredate</th>
      <th>Departureloc</th>
      <th>Modeofdeparture</th>
      <th>Departuredetails</th>
      <th>Instructionsfromadmin</th>
      <th>Event</th>
      <th>User</th>
      <th class='notexport'></th>
      <th class='notexport'></th>
      <th class='notexport'></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.poc %></td>
        <td><%= team.pocmobile %></td>
        <td><%= team.pocemail %></td>
        <td><%= team.status %></td>
        <td><%= team.arrivaldate %></td>
        <td><%= team.arrivalloc %></td>
        <td><%= team.modeofarrival %></td>
        <td><%= team.arrivaldetails %></td>
        <td><%= team.departuredate %></td>
        <td><%= team.departureloc %></td>
        <td><%= team.modeofdeparture %></td>
        <td><%= team.departuredetails %></td>
        <td><%= team.instructionsfromadmin %></td>
        <td><%= team.event_id %></td>
        <td><%= team.user_id %></td>
        <td><%= link_to 'Show', { :action => :show, :id => team.id}%></td>
        <td><%= link_to 'Edit', { :action => :editbasicinfo, :id => team.id}, method: "get"%></td>
        <td><%= link_to 'Travel Plan', { :action => :edittravelplan, :id => team.id}, method: "get"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Team', { :controller => :teams, :action => :basicinfo, :eventid => "1"}, method: "get" %>
