<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Poc:</strong>
  <%= @team.poc %>
</p>

<p>
  <strong>Pocmobile:</strong>
  <%= @team.pocmobile %>
</p>

<p>
  <strong>Pocemail:</strong>
  <%= @team.pocemail %>
</p>

<p>
  <strong>Arrivaldate:</strong>
  <%= @team.arrivaldate %>
</p>

<p>
  <strong>Arrivalloc:</strong>
  <%= @team.arrivalloc %>
</p>

<p>
  <strong>Modeofarrival:</strong>
  <%= @team.modeofarrival %>
</p>

<p>
  <strong>Arrivaldetails:</strong>
  <%= @team.arrivaldetails %>
</p>

<p>
  <strong>Departuredate:</strong>
  <%= @team.departuredate %>
</p>

<p>
  <strong>Departureloc:</strong>
  <%= @team.departureloc %>
</p>

<p>
  <strong>Modeofdeparture:</strong>
  <%= @team.modeofdeparture %>
</p>

<p>
  <strong>Departuredetails:</strong>
  <%= @team.departuredetails %>
</p>

<p>
  <strong>Instructionsfromadmin:</strong>
  <%= @team.instructionsfromadmin %>
</p>

<p>
  <strong>Event:</strong>
  <%= @team.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @team.user_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
