<div >

<p id="notice"><%= notice %></p>

<head>
 
  <script type="text/javascript">
    $(document).ready(function() {
      $('#example').DataTable( {
          dom: 'Bfrtip',
          buttons: [
              'copyHtml5',
              'excelHtml5',
              
              {
                extend: 'csvHtml5',
                text: 'CSV',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            },
              {
                extend: 'pdfHtml5',
                text: 'PDF',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            }
          ]
      } );
  } );
  </script>


  </head>



<div class="row">
  <div class="col-md-10">
    <p>
      <strong>Registration status</strong>
      <%= @team.status %>
    </p>
  </div>
  <div class="col-md-2">
    <div style="float:right">
      <%= button_to 'Back', event_path(@team.event), method: "get"%>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-2 text-center <%= @team.status == 'basicinfofilled' || @team.status == 'pending' || @team.status == 'approved' ?  'bar-green' : 'bar-red' %>">
          Team info filled
  </div>
  <div class="col-md-2 text-center <%= @team.status == 'pending' || @team.status == 'approved' ? 'bar-green' : (@team.status == 'rejected' ? 'bar-red' : 'bar-gray') %>">
          Members filled
  </div>
  <div class="col-md-2 text-center <%= @team.status == 'approved' ? 'bar-green' : ( @team.status == 'rejected' ? 'bar-red': 'bar-gray' )%>">
          Team approved
  </div>
  <div class="col-md-2 text-center <%= @team.travelplanstatus == 'planned' || @team.travelplanstatus == 'arranged'  ? 'bar-green': ( @team.travelplanstatus == 'rejected'? 'bar-red' :'bar-gray') %>">
          Travel planned
  </div>
  <div class="col-md-2 text-center <%= @team.travelplanstatus == 'arranged' ? 'bar-green': 'bar-gray' %>">
          Transport arranged
  </div>
  <div class="col-md-2 text-center <%= @team.travelplanstatus == 'arranged' ? 'bar-green' : 'bar-gray' %>">
          All set
  </div>
</div>

<br>

<div class="card card-1">

<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <% if institute? &&
          current_user.id == @team.user_id &&
          (@team.status.downcase == 'basicinfofilled' || @team.status.downcase == 'rejected') %>
      <%= link_to 'Edit', { :action => :editbasicinfo, :id => @team.id}, class: 'btn btn-danger white-text', method: "get" %>
    <% end %>
    <% if institute? && @team.status.downcase == 'approved' && (@team.travelplanstatus.downcase == 'notplanned' || @team.travelplanstatus.downcase == 'rejected') %>
      <%= link_to @team.travelplanstatus.downcase == 'notplanned'? 'Travel Plan':'Edit Travel Plan', {:controller => :teams, :action => :edittravelplan, :id => @team.id}, class: 'btn btn-primary white-text', method: "get"%>
    <% end %>
  </div>
</div>

<h4>Basic info</h4>

<p>
  <strong>Team Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Achievements:</strong>
  <%= @team.achievements%>
</p>

<h4>Point of contact</h4>
<p>
  <strong>Name:</strong>
  <%= @team.poc %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @team.pocmobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team.pocemail %>
</p>



  <% if @team.status == 'approved' && institute? %>

  <div class="row">
      <div class="col-md-4"> </div>
  <div class="col-md-4"> 
     
      <br><br>
      <%= link_to "Download Acknowledgement Receipt", {:controller => "reports",:action=>:ackdownload_pdf,:format => 'pdf',:egid => @team.id},class: 'btn btn-primary text-white'%>
  </div>
  <div class="col-md-4"> </div>
</div>
  
  
  <% end %>

</div>





<div class="card card-1">
<h4>Team members</h4>


<div class="card card-1">
    <div class="table-responsive">
      <table id="example" class="new_table table">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Dob</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Food preference</th>
            <th>Contact no</th>
          </tr>
        </thead>

        <tbody>
          <% @team.teammembers.each do |member| %>
            <tr>
              <td><%= member.name %></td>
              <td><%= member.dob %></td>
              <td><%= member.email %></td>
              <td><%= member.gender %></td>
              <td><%= member.role %></td>
              <td><%= member.foodpreference %></td>
              <td><%= member.contactno %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>



<% if @team.travelplanstatus.downcase != 'notplanned'%>
<div class="card card-1">

  <% if event_admin? && @team.status.downcase == 'approved' && (@team.travelplanstatus.downcase == 'planned' || @team.travelplanstatus.downcase == 'arranged')%>
  <%= link_to @team.travelplanstatus.downcase == 'planned' ? 'Arrange Transportation': 'Edit Transportation', {:controller => :teams, :action => :transport, :id => @team.id}, method: "get"%>
  <% end %>

  <h4>Travel plan (<%= @team.travelplanstatus%>)</h4>
  <br>
  
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5 text-left">
  <% if !(@team.arrivaldate.nil?) %>
  <p>
    <strong>Arrival Date:</strong>
    <%= @team.arrivaldate.strftime("%-d/%-m/%y: %I:%M %p") %>
  </p>
  <% end %>

  <% if !(@team.arrivalloc.nil?) %>
  <p>
    <strong>Arrival location:</strong>
    <%= @team.arrivalloc %>
  </p>
  <% end %>

  <% if !(@team.modeofarrival.nil?) %>
  <p>
    <strong>Mode of arrival:</strong>
    <%= @team.modeofarrival %>
  </p>
  <% end %>

  <% if !(@team.arrivaldetails.nil?) %>
  <p>
    <strong>Arrival Details:</strong>
    <%= @team.arrivaldetails %>
  </p>
  <% end %>

  </div>

  <div class="col-md-5 text-left">

  <% if !(@team.departuredate.nil?) %>
  <p>
    <strong>Departure date:</strong>
    <%= @team.departuredate.strftime("%-d/%-m/%y: %I:%M %p") %>
  </p>
  <% end %>

  <% if !(@team.departureloc.nil?) %>
  <p>
    <strong>Departure Location:</strong>
    <%= @team.departureloc %>
  </p>
  <% end %>

  <% if !(@team.modeofdeparture.nil?) %>
  <p>
    <strong>Mode of departure:</strong>
    <%= @team.modeofdeparture %>
  </p>
  <% end %>

  <% if !(@team.departuredetails.nil?) %>
  <p>
    <strong>Departure details:</strong>
    <%= @team.departuredetails %>
  </p>
  <% end %>

  </div>
  </div>

  
  <% if @team.travelplanstatus.downcase == 'arranged'%>
  <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-left" style="background-color:#e0e0d1;padding:10px">
            <h3>Pickup on arrival</h3>
              <%= @team.arrivaltravelarrangement%>
            </div>
            <div class="col-md-5 text-left" style="background-color:#e0e0d1;padding:10px">
            <h3>Pickup on departure</h3>
              <%= @team.departuretravelarrangement%>
            </div>
            <div class="col-md-1"></div>
  </div>
  <% end %>

</div>
<% end %>

<% if event_admin? && (@team.status.downcase == 'pending') %>
<div class="text-center">
<h3>Approve/Reject</h3>
<div>
    <%= form_for 'team' do |f| %>
      <div class="row">
        <div class="field col-md-offset-2 col-md-8">
          <%= f.label :remarks %>
          <br>
          <%= f.text_area :instructionsfromadmin, class: 'form-control' %>
        </div>
      </div>
      <div class="hidden-field">
        <%= f.hidden_field :id, value: @team.id%>
      </div>
      <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <%= f.submit "Approve Team", formaction: 'approve', class: 'btn btn-success form-control'%>
      </div>
      <div class="col-md-4">
      <%= f.submit "Reject Team", formaction: 'reject', class: 'btn btn-danger form-control'%>
      </div>
      </div>
    <% end %>

</div>
</div>
<% end %>


<% if !(@team.instructionsfromadmin.nil?) %>
<p>
  <strong>Remarks:</strong>
  <%= @team.instructionsfromadmin %>
</p>
<% end %>




</div>












