<div >

<p id="notice"><%= notice %></p>

<head>
 
  <script type="text/javascript">
    $(document).ready(function() {
      $('#example').DataTable( {
          dom: 'Bfrtip',
          buttons: [
              'copyHtml5',
              'excelHtml5',
              
              {
                extend: 'csvHtml5',
                text: 'CSV',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            },
              {
                extend: 'pdfHtml5',
                text: 'PDF',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            }
          ]
      } );
  } );
  </script>


  </head>

<p>
  <strong>Registration status</strong>
  <%= @team.status %>
</p>

<div class="card card-1">

<h4>Basic info</h4>

<p>
  <strong>Team Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Person of contact:</strong>
  <%= @team.poc %>
</p>

<p>
  <strong>Person of contact mobile:</strong>
  <%= @team.pocmobile %>
</p>

<p>
  <strong>Person of contact email:</strong>
  <%= @team.pocemail %>
</p>


</div>

<% if institute? &&
      current_user.id == @team.user_id &&
      (@team.status.downcase == 'basicinfofilled' || @team.status.downcase == 'rejected') %>
  <%= link_to 'Edit', { :action => :editbasicinfo, :id => @team.id}, method: "get" %>
<% end %>

<h4>Team members</h4>


<div style="display:inline-block;width:80%">
    <div class="table-responsive">
      <table id="example" class="new_table table">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Dob</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Food preference</th>
            <th>Contact no</th>
          </tr>
        </thead>

        <tbody>
          <% @team.teammembers.each do |member| %>
            <tr>
              <td><%= member.name %></td>
              <td><%= member.dob %></td>
              <td><%= member.email %></td>
              <td><%= member.gender %></td>
              <td><%= member.role %></td>
              <td><%= member.foodpreference %></td>
              <td><%= member.contactno %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>



<div class="card card-1">
  <h4>Travel plan</h4>
  <br>
  <% if !(@team.arrivaldate.nil?) %>
  <p>
    <strong>Arrival Date:</strong>
    <%= @team.arrivaldate %>
  </p>
  <% end %>

  <% if !(@team.arrivalloc.nil?) %>
  <p>
    <strong>Arrival location:</strong>
    <%= @team.arrivalloc %>
  </p>
  <% end %>

  <% if !(@team.modeofarrival.nil?) %>
  <p>
    <strong>Mode of arrival:</strong>
    <%= @team.modeofarrival %>
  </p>
  <% end %>

  <% if !(@team.arrivaldetails.nil?) %>
  <p>
    <strong>Arrival Details:</strong>
    <%= @team.arrivaldetails %>
  </p>
  <% end %>

  <% if !(@team.departuredate.nil?) %>
  <p>
    <strong>Departure date:</strong>
    <%= @team.departuredate %>
  </p>
  <% end %>

  <% if !(@team.departureloc.nil?) %>
  <p>
    <strong>Departure Location:</strong>
    <%= @team.departureloc %>
  </p>
  <% end %>

  <% if !(@team.modeofdeparture.nil?) %>
  <p>
    <strong>Mode of departure:</strong>
    <%= @team.modeofdeparture %>
  </p>
  <% end %>

  <% if !(@team.departuredetails.nil?) %>
  <p>
    <strong>Departure details:</strong>
    <%= @team.departuredetails %>
  </p>
  <% end %>

</div>
</div>

<% if !(@team.instructionsfromadmin.nil?) %>
<p>
  <strong>Remarks:</strong>
  <%= @team.instructionsfromadmin %>
</p>
<% end %>

<p>
  <strong>Event:</strong>
  <%= @team.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @team.user_id %>
</p>


</div>

<% if event_admin? && (@team.status.downcase == 'pending') %>
<div>
    <%= form_for 'team' do |f| %>
      <div class="field">
        <%= f.label :remarks %>
        <br>
        <%= f.text_area :instructionsfromadmin %>
      </div>
      <div class="hidden-field">
        <%= f.hidden_field :id, value: @team.id%>
      </div>
      <%= f.submit "Approve Team", formaction: 'approve'%>
      <%= f.submit "Reject Team", formaction: 'reject'%>
    <% end %>

</div>
<% end %>

<% if institute? && @team.status.downcase == 'approved' && (@team.travelplanstatus.downcase == 'notplanned' || @team.travelplanstatus.downcase == 'rejected') %>
      <%= link_to @team.travelplanstatus.downcase == 'notplanned'? 'Travel Plan':'Edit Travel Plan', {:controller => :teams, :action => :edittravelplan, :id => @team.id}, method: "get"%>
<% end %>

<% if event_admin? && @team.status.downcase == 'approved' && (@team.travelplanstatus.downcase == 'planned' || @team.travelplanstatus.downcase == 'arranged')%>
      <%= link_to @team.travelplanstatus.downcase == 'planned' ? 'Arrange Transportation': 'Edit Transportation', {:controller => :teams, :action => :transport, :id => @team.id}, method: "get"%>
<% end %>

<%= link_to 'Back', event_path(@team.event)%>



