<h4>Greetings from NITC Sports Portal, <%= @team.poc %></h4>
  <p>
    Transportation for your team "<%= @team.name %>" has been arranged.<br>
  </p>
  <p>
    Arrival transport: "<%= @team.arrivaltravelarrangement %>".<br>
  </p>
  <p>
    Departure transport: "<%= @team.departuretravelarrangement %>".<br>
  </p>
  <p>
    Remarks from approver: "<%= @team.instructionsfromadmin %>".<br>
  </p>

  
<p>Thanks for joining and have a great day!</p>

<p><h6>Please do not reply to this email; this address is not monitored. 
  Please use our contact page.</h6></p>