<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :eventtype %>
    <%= form.text_field :eventtype %>
  </div>

  <div class="field">
    <%= form.label :eventrules %>
    <%= form.text_area :eventrules %>
  </div>

  <div class="field">
    <%= form.label :eventgroup_id %>
    <%= form.collection_select :eventgroup_id, eventgroups.order(:name), :id, :name, {prompt: 'Select Event Group'}, class: 'form-control'%>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
