<div class="row">
<div class="col-md-12">
<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
</div>
<div class="row">
  <div class="col-md-12">
  <div class="field">
    <div class="col-md-4 col-sm-12">
    <%= form.label :Upload_new_image%>
    </div>
    <div class="col-md-4 col-sm-12">
    <%= form.file_field :photo, {:style => "max-width:90px;"}%>
    </div>
  </div>
  
  <div class="col-md-4 col-sm-12">
  <div class="actions">
    <%= form.submit  'Save'%>
  </div>
<% end %>
  </div>
</div>
</div>