<div class="row"><p id="notice"><%= notice %></p></div>
<div class="row"><div class="col-md-12"><h1>Gallery</h1></div></div>
<br>
<div class="row"><div class="col-md-12"><%= render 'form', image: @image %></div></div>
<hr>
 <% @images.each do |image| %>
<div class="row text-center">
  <div class="col-md-5 ">  
 <!-- <%= image_tag("gallery_default.jpg",  {:alt=> "Could not load Image",:style => "max-height:160px;max-width:100%;"}) %>
  -->
  <% if image.photo %>
  <%= link_to image_tag(url_for(image.photo), {:style => "max-height:160px;max-width:100%;"}), image %>
  <%else %>
  <%= image_tag("gallery_default.jpg",  {:alt=> "Could not load Image",:style => "max-height:160px;max-width:100%;"})  %>
  <%end %>
   </div>
  <div class="col-md-1" style="margin:5%"> <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
<%end%>
<!--
<table class="table table-responsive text-center">
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr class="text-left">
        <td>
            <% if image.photo.attached? %>
        <%= link_to image_tag(url_for(image.photo), {:style => "max-height:150px;max-width:300px;"}), image %>
            <% end %>
            </td>
        <!-- <td><%= link_to 'Edit', edit_image_path(image) %></td> 
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
<!--
<%= link_to 'New Image', new_image_path %>
-->