<div class="row">
<p id="notice"><%= notice %></p>
</div>


<div class="text-left" style="padding-top:3%;padding-bottom:2%;">
<% if logged_in? && (site_admin? || event_admin? ) %>
<%= link_to 'Return to Gallery', homegallery_path ,method: "get"%> | 
<%= link_to 'Back', images_path ,method: "get"%>
<% else %>
<%= link_to 'Return to Gallery', homegallery_path %>
<% end %>
</div>


<div>

            <% if @image.photo.attached? %>
				<!--<%= image_tag(url_for(@image.photo), {:style => "height:600px;min-width:100%;max-width:100%;padding:10%;padding-bottom:3%;"}) %>
            --> <%= link_to image_tag(url_for(@image.photo), {:style => "max-width:100%;height:auto;max-height:100%; display: block;margin-left: auto;  margin-right: auto;"}), @image.photo , target: :_blank %>
  
            <% end %>

<!-- <%= link_to 'Edit', edit_image_path(@image) %> | -->
</div>