<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_with(model: eventgroup, local: true) do |form| %>
  <% if eventgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eventgroup.errors.count, "error") %> prohibited this eventgroup from being saved:</h2>

      <ul>
        <% eventgroup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name ,class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description ,class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :regstartdate %>
    <%= form.date_select :regstartdate,class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :regenddate %>
    <%= form.date_select :regenddate,class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.date_select :startdate,class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :enddate %>
    <%= form.date_select :enddate,class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :isactive %>
    <%= form.check_box :isactive %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_field :venue ,class: 'form-control'%>
  </div>

  <div class="actions">
  <%= form.submit class: "btn btn-primary form-control" 'Create Fest/Meet' %>
  </div>
<% end %>
</div>
</div>