<p id="notice"><%= notice %></p>
<head>
 
  <script type="text/javascript">
    $(document).ready(function() {
      $('#example').DataTable( {
          dom: 'Bfrtip',
          buttons: [
              'copyHtml5',
              'excelHtml5',
              
              {
                extend: 'csvHtml5',
                text: 'CSV',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            },
              {
                extend: 'pdfHtml5',
                text: 'PDF',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            }
          ]
      } );
  } );
  </script>

  
</head>

<div class="card card-1">
<marquee>
          <span>Registration time <%= @eventgroup.regstartdate %> - <%= @eventgroup.regenddate %></span>
</marquee>


<p>
  <h1><%= @eventgroup.name %></h1>
</p>


  <span><%= @eventgroup.startdate %> - <%= @eventgroup.enddate %></span>



<p>
  <h5><%= @eventgroup.description %></h5>
</p>

<p>
  <strong>Venue:</strong>
  <%= @eventgroup.venue %>
</p>




<% if event_admin? %>
  <%= link_to 'Edit', edit_eventgroup_path(@eventgroup) %> 
  <br><br>
  <%= link_to "Download Participants Report", :controller => "reports",:action=>:participantsdownload_pdf,:format => 'pdf',:egid => @eventgroup.id%>
<% end %>

</div>

<hr>
<div class="row">
<div class="col-md-10"> <h3 style="margin-top:3px">Events</h3> </div>
<div class="col-md-2"> <%= button_to 'Back', root_path, method: "get" %> </div>
</div>

<hr>

<div class="table-responsive">  
    <table id="example" class="new_table table">
      <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Eventtype</th>
      <th>Fest/Meet</th>
      <th class='notexport'></th>
      <% if event_admin? %>
      <th class='notexport'></th>
      <th class='notexport'></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @eventgroup.events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.eventtype %></td>
        <td><%= event.eventgroup.name %></td>
        <td><%= link_to 'Show', event %></td>
        <% if event_admin? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  
  </tbody>
</table>
</div> 
<br>

<% if event_admin? %>
  <%= link_to 'New Event', {:controller => :events, :action => :new, :groupid => @eventgroup.id} %>
<% end %>

