<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eventgroup.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eventgroup.description %>
</p>

<p>
  <strong>Regstartdate:</strong>
  <%= @eventgroup.regstartdate %>
</p>

<p>
  <strong>Regenddate:</strong>
  <%= @eventgroup.regenddate %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @eventgroup.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @eventgroup.enddate %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @eventgroup.isactive %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @eventgroup.venue %>
</p>

<% if event_admin? %>
  <%= link_to 'Edit', edit_eventgroup_path(@eventgroup) %> 
<% end %>

<h1>Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Eventtype</th>
      <th>Eventgroup</th>
      <% if event_admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @eventgroup.events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.eventtype %></td>
        <td><%= event.eventgroup.name %></td>
        <td><%= link_to 'Show', event %></td>
        <% if event_admin? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  
  </tbody>
</table>
  
<br>

<% if event_admin? %>
  <%= link_to 'New Event', {:controller => :events, :action => :new, :groupid => @eventgroup.id} %>
<% end %>

