<p id="notice"><%= notice %></p>
<div class="row logo">
<div class="col-md-4">
<%= image_tag("logo.jpg",{ :class=>" rounded img-fluid", :style =>"" }) %>
</div>
<div class="col-md-8 announcement">
        <marquee class="marq" bgcolor = "White" direction = "left" loop="" > 
        <% all_announcements.each do |announce| %>  
          &nbsp
          <strong> <%= announce.message %></strong>.
        <% end %>
      </marquee>
</div>
</div>

<hr>

<main role="main">

  <div id="myCarousel" class="carousel  carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
       <!-- <img class="d-block w-100 bd-placeholder-img img-rounded" src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
        alt="First slide"> -->
        <%= image_tag("cover1.jpg",{ :class=>" d-block w-100 bd-placeholder-img img-rounded img-fluid rounded" , :style =>"" }) %>
        
        <div class="container">
          <div class="carousel-caption text-left">
            <h1><%= @eventgroup.name %></h1>
            <p class="d-none d-md-block lead"><%= @eventgroup.description %></p>
            <p><a class="btn btn-lg btn-primary" href="#events" role="button">See Events</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("cover2.jpg",{ :class=>" d-block w-100 bd-placeholder-img img-rounded img-fluid rounded" , :style =>"" }) %>
        
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
        --><div class="container">
          <div class="carousel-caption text-left">
            <h1><%= @eventgroup.name %></h1>
            <p class="d-none d-md-block lead">From <%= @eventgroup.startdate.strftime("%dth %b %Y")  %> to <%= @eventgroup.enddate.strftime("%dth %b %Y")  %></p>
            <p><a class="btn btn-lg btn-primary" href="#events" role="button">See Events</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("cover3.jpg",{ :class=>" d-block w-100 bd-placeholder-img img-rounded img-fluid rounded" , :style =>"" }) %>
        
        <div class="container">
          <div class="carousel-caption text-left">
            <h1><%= @eventgroup.name %></h1>
            <p class="d-none d-md-block lead">Venue: <%= @eventgroup.venue %></p>
            <p><a class="btn btn-lg btn-primary" href="#events" role="button">See Events</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <% if event_admin? %>
  <hr>
  <div class="row">
  <div class="col-md-4 text-center"> <%= link_to 'Edit Event', edit_eventgroup_path(@eventgroup),class: 'btn btn-primary text-white' %> </div>
  <div class="col-md-4 text-center">  <%= link_to 'Add sub-Event', {:controller => :events, :action => :new, :groupid => @eventgroup.id},class: 'btn btn-success text-white', method: "get" %></div>
  <div class="col-md-4 text-center"> <%= link_to "Download Participants Report", {:controller => "reports",:action=>:participantsdownload_pdf,:format => 'pdf',:egid => @eventgroup.id},class: 'btn btn-primary text-white'%> </div>
  </div>
  <hr>
      

  <% end %>
  <!--================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row" id="events">
    <% @eventgroup.events.each do |event| %>
      <div class="col-lg-4">
        <%= image_tag("meet.jpg",{ :class=>"img-fluid rounded d-block w-100 img-thumbnail" , :style =>"max-height:160px;max-width:100%;" }) %>
        <!-- <img class="d-block w-100 " src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" 
        alt="First slide"> -->
        <h2><%= event.name %></h2>
        <p><%= event.eventtype %></p>
        <p><%= event.description %></p>
        <!-- <p><a class="btn btn-success" href="#" role="button">Register &raquo;</a></p> -->
        <%= link_to "View Details", event, { :style =>"padd ing-left:0px;" , :class=>"btn btn-primary text-white na vbar-brand na v-link" } %>
  
  
  <% if institute? %>
    <% if event.teams.where('user_id = ?', current_user.id).count == 0%>
      <%= link_to 'Register', { :controller => :teams, :action => :basicinfo, :eventid => event.id }, class:'btn btn-primary text-white', method: "get"%>
    <% else %>
      <%= link_to 'View Team', { :controller => :teams, :action => :show, :id => event.teams.where('user_id = ?', current_user.id).first.id}, class:'btn btn-success text-white', method: "get"%>
    <% end %>
  <% end %>
  <% if event_admin? %>
          <div><%= link_to 'Edit', edit_event_path(event), { :style =>"padding-left:5px; min-width:25px;" , :class=>"btn btn-info text-white " } %>
          <%= link_to "Delete", event, class: "btn btn-danger", data: {:confirm => 'Are you sure?'}, :method => :delete%>
          </div>
        <% end %>

      </div><!-- /.col-lg-4 -->
      <%end%>
      
    </div><!-- /.row -->


    
  </div><!-- /.container -->
</main>
<!--

<div class="card card-1">
<marquee>
          <span>Registration: <%= @eventgroup.regstartdate %> - <%= @eventgroup.regenddate %></span>
</marquee>


<p>
  <h1><%= @eventgroup.name %></h1>
</p>


  <span><%= @eventgroup.startdate %> - <%= @eventgroup.enddate %></span>



<p>
  <h5><%= @eventgroup.description %></h5>
</p>

<p>
  <strong>Venue:</strong>
  <%= @eventgroup.venue %>
</p>




<% if event_admin? %>
  
  <div class="row">
      <div class="col-md-4"> </div>
  <div class="col-md-4"> 
      <%= link_to 'Edit', edit_eventgroup_path(@eventgroup),class: 'btn btn-primary text-white' %> 
      <br><br>
  <%= link_to "Download Participants Report", {:controller => "reports",:action=>:participantsdownload_pdf,:format => 'pdf',:egid => @eventgroup.id},class: 'btn btn-primary text-white'%>
  </div>
  <div class="col-md-4"> </div>
</div>
  <% end %>

</div>

<hr>  
<div class="row" >
<div class="col-md-10 text-center"> <h3 style="margin-top:3px">Events</h3> </div>
<div class="col-md-2"> 
  <% if event_admin? %>
    <%= link_to 'New Event', {:controller => :events, :action => :new, :groupid => @eventgroup.id},class: 'btn btn-primary text-white', method: "get" %>
  <% end %>
</div>
</div><hr>

<div class="table-responsive">  
    <table id="example" class="new_table table">
      <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Eventtype</th>
      <!--<th>Fest/Meet</th>
      <th class='notexport'></th>
      <% if event_admin? %>
      <th class='notexport'></th>
      <th class='notexport'></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @eventgroup.events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.eventtype %></td>
        <!--<td><%= event.eventgroup.name %></td>
        <td><%= link_to 'Show', event %></td>
        <% if event_admin? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  
  </tbody>
</table>
</div> 
<br>-->



