<%= form_with(model: teammember, url: dynamic_url, local: true) do |form| %>
    <% if teammember.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(teammember.errors.count, "error") %> prohibited this teammember from being saved:</h2>
  
        <ul>
          <% teammember.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :name %>
      <br>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.label :date_of_birth %>
      <br>
      <%= form.date_select :dob, :selected_year => Date.today.year - 1, :start_year => Date.today.year - 40, :end_year => Date.today.year - 1, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <br>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.label :gender %>
      <br>
      <%= form.select :gender, ['Male', 'Female'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :role %>
      <br>
      <%= form.select :role, ['Coach', 'Captain', 'Vice Captain', 'Player', 'Support Staff', 'Manager'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>

    <div class="field">
    <%= form.hidden_field :achievements%>
    </div>
  
    <div class="field">
      <%= form.label :food_preference %>
      <br>
      <%= form.select :foodpreference, ['Veg', 'Non-Veg'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :contact_no %>
      <br>
      <%= form.number_field :contactno, class: 'form-control' %>
    </div>

    <div class="hidden-field">
      <%= form.hidden_field :team_id %>
    </div>

    <div class="hidden-field">
      <%= form.hidden_field :id%>
    </div>
  
    <div class="actions">
      <%= form.submit 'Create Teammember', class: "btn btn-primary form-control" %>
    </div>
  <% end %>