<%= form_with(model: teammember, url: dynamic_url, local: true) do |form| %>
    <% if teammember.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(teammember.errors.count, "error") %> prohibited this teammember from being saved:</h2>
  
        <ul>
          <% teammember.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <br>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :dob %>
      <br>
      <%= form.date_select :dob %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <br>
      <%= form.text_field :email %>
    </div>
  
    <div class="field">
      <%= form.label :gender %>
      <br>
      <%= form.select :gender, ['Male', 'Female'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :role %>
      <br>
      <%= form.select :role, ['Coach', 'Captain', 'Vice Captain', 'Player', 'Support Staff', 'Manager'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :achievements %>
      <br>
      <%= form.text_area :achievements %>
    </div>
  
    <div class="field">
      <%= form.label :foodpreference %>
      <br>
      <%= form.select :foodpreference, ['Veg', 'Non-Veg'],{:include_blank => 'Select'},class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :contactno %>
      <br>
      <%= form.number_field :contactno %>
    </div>
  
    <div class="field">
      <%= form.label :team_id %>
      <br>
      <%= form.text_field :team_id %>
    </div>

    <div class="hidden-field">
      <%= form.hidden_field :id%>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>