<%= form_with(model: teammember, local: true) do |form| %>
  <% if teammember.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teammember.errors.count, "error") %> prohibited this teammember from being saved:</h2>

      <ul>
        <% teammember.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :achievements %>
    <%= form.text_area :achievements %>
  </div>

  <div class="field">
    <%= form.label :foodpreference %>
    <%= form.text_field :foodpreference %>
  </div>

  <div class="field">
    <%= form.label :contactno %>
    <%= form.number_field :contactno %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
