
<div class="card card-1">
<h1> Team members</h1>


<div style="overflow-x:auto;">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dob</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Foodpreference</th>
      <th>Contactno</th>
      <th>Team</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.dob %></td>
        <td><%= member.email %></td>
        <td><%= member.gender %></td>
        <td><%= member.role %></td>
        <td><%= member.foodpreference %></td>
        <td><%= member.contactno %></td>
        <td><%= member.team_id %></td>
        <td><%= link_to 'Edit', { :action => :edit, :id => member.id }, method: "get"%></td>
        <td><%= link_to 'Destroy', { :action => :destroy, :id =>member.id}, method: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= button_to 'Submit Team', {:controller => :teams, :action => :createteam, :teamid => @team.id, :eventid => @team.event_id}, method: "post", class: 'btn btn-success' %>
</div>

<div class="card card-1">
<div style="margin:auto;width:300px;text-align:left">
<h2>Add Member</h2>
<%= render 'formmember', teammember: @member, dynamic_url: 'createmember'%>
</div>
</div>