<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-10"> <h3 style="margin-top:3px">Announcements</h3> </div>
<div class="col-md-2"> <%= button_to 'Back', root_path, method: "get" %> </div>
</div>


<table class="new_table table">
  <thead >
    <tr>
      <!-- <th>Message</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.message %></td>
        <!-- <td><%= link_to 'Show', announcement %></td> -->
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Delete', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Announcement', new_announcement_path, method: "get"%>
