<div class="well" style="max-height:42vh;overflow-y:scroll">
<div class="text-center" > <strong> Upcoming Matches</strong> </p>
        <hr>
        <% tod=false %>
        <% tom=false %>
        <div> 
        <div class="card-header"><small><strong> Today  (<%= Time.now.strftime("%m/%d/%Y") %>)</strong></small></div>


        <% all_matches.each do |match| %>
        <% if !match.result? && match.matchstarttime.to_date()==today  %>
          <% tod=true%>
        <hr>
        <% description=match.description+" - "+match.round%> 
        <% title=match.teamone+" vs "+match.teamtwo%>
        
   
      
      <small> <%= description%>  </small><br>
      <strong> <%= link_to title, match %> <strong>
      
      <div> <small><%=match.matchstarttime.strftime("%-d/%-m/%y: %I:%M %p")   %></small> </div>
      
      
      
      <%end %>
    
      <% end %>
      
      <% if !tod%>
        <br>
        <p><small > No Scheduled Matches </small></p>
      <%end%>
      </div><!-- end of todays matches -->
      <hr>
   <div> 
        <div class="card-header"><small><strong> Tomorrow  (<%= Time.now.tomorrow.strftime("%m/%d/%Y") %>)</strong></small></div>


        <% all_matches.each do |match| %>
        <% if !match.result? && match.matchstarttime.to_date()==today.tomorrow  %>
          <% tom=true%>
        <hr>
        <% description=match.description+" - "+match.round%> 
        <% title=match.teamone+" vs "+match.teamtwo%>
        
   
      
      <small> <%= description%>  </small><br>
      <strong> <%= link_to title, match %> <strong>
      
      <div> <small><%=match.matchstarttime.strftime("%-d/%-m/%y: %I:%M %p") %></small> </div>
      
      
      
      <%end %>
    
      <% end %>
      
      <% if !tom%>
        <br>
        <p><small >  No Scheduled Matches </small></p>
      <%end%>
      </div><!-- end of tomorrow's matches -->


    


      </div>
      <!--
<p class="text-center"  >
 <strong> Today's Matches </strong> </p>
            <div>
                <% all_matches.each do |match| %>
        <% if match.result?%>
        <% title=match.teamone+" vs "+match.teamtwo%>
        <% description=match.description+" - "+match.round%>
      <p><%= link_to title, match %>
      <small> <%= description%> <small>
      <%end %>
      </p>
      <hr>
      <% end %> -->
</div>