<p id="notice"><%= notice %></p>

<h1>Manage News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsfiles.each do |newsfile| %>
      <tr>
        <td><%= newsfile.title %></td>
        <td><%= newsfile.description %></td>
        <td><%= link_to 'Show', newsfile %></td>
        <td><%= link_to 'Edit', edit_newsfile_path(newsfile) %></td>
        <td><%= link_to 'Destroy', newsfile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Newsfile', new_newsfile_path %>
