<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name ,class: 'form-control', placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username ,class: 'form-control' , placeholder: "Required username"%>
  </div>

  <div class="field">
    <%= form.label :institute %>
    <%= form.collection_select :institute_id, @institutes.order(:name), :id, :name, {prompt: 'Select Institute'}, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email ,class: 'form-control', placeholder: "Email Id"%>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password ,class: 'form-control',placeholder: "Minimum 6 characters" %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, ['User', 'SiteAdmin','EventAdmin'],{:include_blank => 'Select'},class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :contactno %>
    <%= form.text_field :contactno ,class: 'form-control', placeholder: "10 digit valid contact number"%>
  </div>

  <div class="field">
    <%= form.label :Profile_Picture%>(optional)
    <%= form.file_field :avatar ,class: 'file-form-control' %>
  </div>
  

  <div class="actions">
    <%= form.submit class: "btn btn-primary form-control" %>
  </div>
<% end %>
</div>
</div>
<hr>