<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-10"> <h3 style="margin-top:3px">Users</h3> </div>
<div class="col-md-2"> <%= button_to 'Back', root_path, method: "get" %> </div>
</div>
<head>
 
  <script type="text/javascript">
    $(document).ready(function() {
      $('#example').DataTable( {
          dom: 'Bfrtip',
          buttons: [
              'copyHtml5',
              'excelHtml5',
              
              {
                extend: 'csvHtml5',
                text: 'CSV',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            },
              {
                extend: 'pdfHtml5',
                text: 'PDF',
                className: 'btn btn-default',
                exportOptions: {
                    columns: ':not(.notexport)'
                }
            }
          ]
      } );
  } );
  </script>

  
</head>


<hr>

<div class="table-responsive">
  <table id="example" class="new_table table">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</t>
      <th>Role</th>
      <th>Contactno</th>
      <th class='notexport'></th>
      <th class='notexport'></th>
      <th class='notexport'></th>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.contactno %></td>
        <td><%= link_to 'View', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<%= button_to "Add an User", new_user_path, method: "get" %>


<hr>




