    <!-- <div class="row">
		<div class="col-md-12 text-center">
			<h1>User Profile  </h1>
		</div>
	</div> -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
<br><br><br>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 well profile">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center text-capitalize"><strong>User Profile </strong></h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-5">
                                <figure>
                                    <% if @user.avatar.attached? %>
                                        <%= image_tag(url_for(@user.avatar), {:style => "width:100%;padding:10%"}) %>
                                            <% end %>
                                </figure>
                            </div>
                            <div class="col-md-7" style="padding:5%;">
                                <table class="table">
                                    <tr>
                                        <th>Username :</th>
                                        <td>
                                            <%= @user.username %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Institute :</th>
                                        <td>
                                            <%= @user.institute ? @user.institute.name : 'NIL'%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email ID :</th>
                                        <td>
                                            <%= @user.email %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contact no :</th>
                                        <td>
                                            <%= @user.contactno %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Account type :</th>
                                        <td>
                                            <%= @user.role %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                </table>
                                <div class="text-center">
                                    <%= link_to 'Edit profile', edit_user_path(@user) %>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @user.contactno %>
</p>

<p>
  <% if @user.avatar.attached? %>
  <%= link_to 'Profile pic', url_for(@user.avatar),  target: :_blank %>

        <% end %>

</p>
<%= link_to 'Back', users_path %>
-->