<%= form_with(model: event_group, local: true) do |form| %>
  <% if event_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_group.errors.count, "error") %> prohibited this event_group from being saved:</h2>

      <ul>
        <% event_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :reg_start_date %>
    <%= form.datetime_select :reg_start_date %>
  </div>

  <div class="field">
    <%= form.label :reg_end_date %>
    <%= form.datetime_select :reg_end_date %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_field :venue %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
