<%= form_with(model: editcontent, local: true) do |form| %>
  <% if editcontent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(editcontent.errors.count, "error") %> prohibited this editcontent from being saved:</h2>

      <ul>
        <% editcontent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :welcometext %>
    <%= form.text_field :welcometext, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :facilities %>
    <%= form.text_area :facilities, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_area :contact, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary form-control" %>
  </div>
<% end %>
