<p id="notice"><%= notice %></p>

<h1>Edit Contents</h1>

<table>
  <thead>
    <tr>
      <th>Welcometext</th>
      <th>About</th>
      <th>Facilities</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @editcontents.each do |editcontent| %>
      <tr>
        <td><%= editcontent.welcometext %></td>
        <td><%= editcontent.about %></td>
        <td><%= editcontent.facilities %></td>
        <td><%= editcontent.contact %></td>
        <td><%= link_to 'Edit', edit_editcontent_path(editcontent) %></td>
        
        <td><%= link_to 'Delete', editcontent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


