<div class="row">
  <div class="col-md-8 col-md-offset-2">

<%= form_with(model: match,local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<hr>
  <div class="field">
    <%= form.label :description %>
    <%= @match.description %>
  </div>

  <div class="field">
    <%= form.label :Matchstarttime %>
    <%= @match.matchstarttime %>
  </div>

  <div class="field">
    <%= form.label :round %>
    <%= @match.round %>
  </div>

  <div class="field">
    <%= form.label :teamone %>
    <%= @match.teamone %>
    
  </div>

  

  <div class="field">
    <%= form.label :teamtwo %>
    <%= @match.teamtwo %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= @match.venue%>
  </div>
 
  <hr>
  <div class="field">
    <%= form.label :result %>
    <br>
    <%= form.text_field :result ,class: 'form-control'%>
  </div>

  <div class="field">
    
    <%= form.hidden_field :event_id %>
  </div>
  
  <div class="actions">
    <%= form.submit class: "btn btn-primary form-control"%>
  </div>
<% end %>
</div>
</div>
<hr>
