<div class="row">
  <div class="col-md-8 col-md-offset-2">


<%= form_with(model: match,local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= form.label :description %>
    <br>
    <%= form.text_area :description , class: 'form-control'%>
  </div>
  <br>
  <div class="field">
    <%= form.label :Matchstarttime %>
    <br>
    <%= form.datetime_select :matchstarttime, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= form.label :round %>
    <br>
    <%= form.text_field :round, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= form.label :teamone %>
    <br>
    <%= form.collection_select :teamone, @teams.order(:name), :name, :name, {prompt: 'Select team'}, class: 'form-control' %>
  </div>

  <br>

  <div class="field">
    <%= form.label :teamtwo %>
    <br>
    <%= form.collection_select :teamtwo, @teams.order(:name), :name, :name, {prompt: 'Select team'}, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= form.label :venue %>
    <br>
    <%= form.text_field :venue , class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    
    <%= form.hidden_field :result %>
  </div>

  <div class="field">
    
    <%= form.hidden_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary form-control"%>
  </div>
<% end %>
</div>
</div>
<hr>
