<p id="notice"><%= notice %></p>

<div class="card card-1">
<h2>Match Details</h2>


<p>
  <h4><span><%= @match.teamone %> v.s   <%= @match.teamtwo %></span></h4>
</p>
<p>
  <strong>Description:</strong>
  <%= @match.description %>
</p>

<p>
  <strong>Match start time:</strong>
  <%= @match.matchstarttime %>
</p>

<p>
  <strong>Round:</strong>
  <%= @match.round %>
</p>




<p>
  <strong>Venue:</strong>
  <%= @match.venue %>
</p>

<p>
  <strong>Result:</strong>
  <%= @match.result %>
</p>

<p>
  <strong>Event:</strong>
  <%= @match.event.name %>
</p>
</div>
